[Desktop Entry]
Type=Application
Name=Settings
Comment=Appearance, displays, input, power and startup
Exec=ewe-settings
Icon=ewe-settings
Terminal=false
Categories=Settings;DesktopSettings;
Keywords=settings;preferences;appearance;display;power;
StartupWMClass=ewe-settings
